/* Règles générales */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alice', serif;
    font-size: 30px;
    font-weight: 600;
}

h2 {
    color: var(--main-color);
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
}