@import 'var.css';

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

nav {
    margin-top: 50px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

header .title-container {
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    width: 245px;
}

h1 span {
    font-family: var(--alice);
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    margin-right: 5px;
    width: 245px;
    vertical-align: middle;
}

/* RESPONSIVE */
@media screen and (max-width: 1500px) {
    nav {
        margin-right: 20px;
    }
}